h1 {
  color: gray;
}

img {
  width: 400px;
}

#thirdDiv {
  padding: 50px;
  width: 500px;
  height: 600px;
  border: 1px solid red;
  background-color: indianred;
}

#spanId {
  font-size: 18px;
  margin: 50px;
}
